/* NOSOTROS */

@import 'vars';

header {    
    & .navbar{
        background-color: lightgray  !important;
        & & .nav-item a {
            font-family: $fontPrincipal !important;
            color: black !important;
        }
        & .nav-item a:hover{
            color: $colorPrimario !important;
        } 
    } 
    
}



main{
    width: 100%;
    display: flex;  
    flex-direction: column;
    & .section0{
            width: 100%;
            height: 80px;
            text-align: center;
            display: flex;            
            justify-content: center;
            
            & .titulo_index{
                width: 50%;
                text-align: center;
                color: $colorPrimario;
                font-family: $fontPrincipal;    
                background-color: $backGris;    
                display: flex;
                justify-content: center; 
                flex-direction: row;
                padding-top: 18px;
                
            }
    }
    & #section1{
        display: flex;
        width: 100%;
        height:auto ;
        & .contenedor0{
            width: 80%;   
            height: auto;   
            flex-direction: row;  
            padding: 30px;
            
        }
        & .contenedor1{
            width: 50%;   
            height: auto;     
            display: flex;
            justify-content: center;            
            & .imagenes {                     
                display: flex;   
                flex-direction: column;  
                justify-content: center;                 
            }
            & img {        
                width: 80%;
                height: auto;                   
            }
        }  
    }
    & #section2{
        /* background-color: aquamarine; */
        
        & .contenedor3 {
            position: relative;
            justify-content: center; 
            display: flex;
            padding: 30px;
            & .contenedor_boton button {
                font-family: $fontPrincipal;
                justify-content: center;
                font-size: 18px;
                width: 320px;
                height: 35px;
                font-weight: bold;
                color: black;
                border-radius: 10px; 
                border-color: gray;
                background-color: lightgray;        
            }        
        }  
    }         
}
.pie {
    width: 100%;
    height: 80px;
    background-color: $fondoFooter;
    & .small{
        display: flex;
        justify-content: center;
        color: $colorPrimario;
        padding-top: 30px;
        letter-spacing: 1px;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
    }
    & .container_footer {
        width: 100%;
        height: 80px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & .redes{
            display: flex;
            justify-content: center;
            padding-top: 30px;
            height: 70px;
            & a {
                display: inline-block;
                text-decoration: none;
                width: 80px;
                height: 50px;
                color: $colorPrimario;
                text-align: center;
                transition: all 300ms ease;    
            }
            & a:hover {
                color: white;
            }
        }
        & .box{
            height: 80px;
        }
        & figure {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & img {
            width: 150px;
            height: auto;
            padding-top: 10px;
        }
    }
}
/* -- MOBILE -- */
@media (max-width: 576px) {
    header {    
        & .navbar{
            & .container-fluid{
                width: 95%;
                & .navbar-brand img{    
                    width: 150px;
                }
                & .nav-link{
                    font-size: 18px;        
                }  
            }       
            
        } 
        
    }   
    
    main{
        & .section0{
                height: 50px;
                & .titulo_index{
                    padding-bottom: 40px;
                    h1 {
                        font-size: 20px;                        
                    }                    
                }
        }
        & #section1{
       
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            
            
            & .contenedor0{
                width: 100%;   
                height: auto; 
                justify-content: center; 
                
            }
            & .contenedor1{
                width: 100%;   
                height: auto;     
                
                display: flex;
                justify-content: center;
                & .imagenes {     
                    width: 80%;  
                    height: auto;                                                          
                }
                & img {        
                    width: 100%;
                    height: auto;                   
                }
            }  
        }
        & #section2{
            & .contenedor3 {
                & .contenedor_boton button {
                    width: 250px;                            
                }        
            }  
        }         
    }
    .pie {
        width: 100%;
        height: 70px;       
        & .small{
            display: flex;
            justify-content: center; 
                     
            font-size: 10px;
        }
        & .container_footer {
            width: 100%;
            height: 70px;            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            & .redes{
                display: flex;
                justify-content: center;
                padding-top: 30px;
                height: 70px;
                & a {
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    height: 50px;
                    color: $colorPrimario;
                    text-align: center;
                    transition: all 300ms ease;    
                }
                & a:hover {
                    color: white;
                }
            }
            & .box{
                height: 100%;
            }
            & figure {
                width: 100%;
                height: auto;
                padding-top: 10px;
            }
            & img {
                width: 100px;
                height: auto;
                padding-top: 10px;
            }
        }
    }
}
/* -- TABLET -- */
@media (min-width: 576px) and (max-width: 992px) {
    header {    
        & .navbar{
            & .container-fluid{
                width: 95%;
                & .navbar-brand img{    
                    width: 150px;
                }
                & .nav-link{
                    font-size: 18px;        
                }  
            }       
            
        } 
        
    }
    main{
        & .section0{
                height: 50px;
                & .titulo_index{
                    padding-bottom: 40px;
                    h1 {
                        font-size: 20px;                        
                    }                    
                }
        }
        /* & #section1{          
            display: flex;
            flex-direction: column;        
            
            & .contenedor0{
                width: 100%;   
                height: auto; 
                justify-content: center; 
                
            }
            & .contenedor1{
                width: 100%;   
                height: auto; 
                justify-content: center;               
                & .imagenes {     
                    width: 100%;  
                    height: auto;
                    padding: 20px;                                                          
                }
                & img {        
                    width: 100%;
                    height: auto;                   
                }
            } 
        } */
        /* & #section2{                       
            & .contenedor3 {
                & .contenedor_boton button {
                    width: 250px;                            
                }        
            }  
        }   */       
    }
    /* .pie {
        width: 100%;
        height: 70px;       
        & .small{
            display: flex;
            justify-content: center; 
                     
            font-size: 10px;
        }
        & .container_footer {
            width: 100%;
            height: 70px;            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            & .redes{
                display: flex;
                justify-content: center;
                padding-top: 30px;
                height: 70px;
                & a {
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    height: 50px;
                    color: $colorPrimario;
                    text-align: center;
                    transition: all 300ms ease;    
                }
                & a:hover {
                    color: white;
                }
            }
            & .box{
                height: 100%;
            }
            & figure {
                width: 100%;
                height: auto;
                padding-top: 10px;
            }
            & img {
                width: 100px;
                height: auto;
                padding-top: 10px;
            }
        } 
    }*/
}


 